In [0]:
%sql
create catalog join_practise

In [0]:
use catalog join_practise

In [0]:
create schema emp_db

In [0]:
CREATE TABLE emp_db.employees (
  emp_id INT,
  emp_name STRING,
  dept_id INT
);

In [0]:
select * from emp_db.employees

In [0]:
create table emp_db.departments (
  dept_id INT,
  dept_name STRING
)

In [0]:
create table emp_db.salaries(
  salary INT,
  emp_id INT)

In [0]:
INSERT INTO emp_db.employees VALUES
(1, 'Alice', 101),
(2, 'Bob', 102),
(3, 'Charlie', 101),
(4, 'David', 103);

In [0]:
INSERT INTO emp_db.departments VALUES
(101, 'IT'),
(102, 'HR'),
(103, 'Finance');

In [0]:
INSERT INTO emp_db.salaries VALUES
(1, 60000),
(2, 50000),
(3, 70000);

In [0]:
select emp_name,s.emp_id from emp_db.employees e left join emp_db.salaries s on e.emp_id = s.salary

In [0]:
select * from emp_db.employees

In [0]:
select * from emp_db.salaries

In [0]:
drop table emp_db.salaries

In [0]:
CREATE TABLE emp_db.salaries (
  emp_id INT,
  salary INT
);

In [0]:
INSERT INTO emp_db.salaries VALUES
(1, 60000),
(2, 50000),
(3, 70000);

In [0]:
select emp_name,s.salary from emp_db.employees e left join emp_db.salaries s on e.emp_id = s.emp_id

In [0]:
select d.dept_name,e.emp_name, s.salary from emp_db.employees e left join emp_db.salaries s on e.emp_id = s.emp_id left join emp_db.departments d on e.dept_id = d.dept_id

In [0]:
select * from emp_db.employees as e inner join emp_db.departments as d on e.dept_id = d.dept_id inner join emp_db.salaries as s on e.emp_id = s.emp_id